


<%= form_for :movies url: movie_path do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  <%= f.label :title %>
  <%= f.text :title %>
  <%= f.label :year %>
  <%= f.text :year %>
  <%= f.label :age_rating %>
  <%= f.text :age_rating %>
  <%= f.label :duration %>
  <%= f.text :duration %>
  <%= f.label :description %>
  <%= f.text :description %>
  <%= f.submit %>
<% end %>
