    <%= render partial: 'search_form' %>
<div id="movie-title">
  <%= @movie[:Title] %>
</div>

<span><%= @movie[:Year] %> <%= @movie[:Rated] %> <%= @movie[:Runtime] %></span>

<div id="movie-description">
  <%= @movie[:Plot] %>

</div>
