<div class="container">
  <div class="user-info">
    <h1><%= @user.user_name %> </h1>
    <p>Member since: <%= time_ago_in_words(@user.created_at) %> ago</p>
  </div>

  <div class="user-watch-favs-wrapper">
    <div class="user-favorites">
      <h2> Favorite movies </h2>
      <% @user.favorites.each do |favorite| %>
        <p><%= link_to favorite.movie.title, movie_path(favorite.movie) %></p>
      <% end %>
    </div>

    <div class="user-watch-list">
      <h2> Movies to watch </h2>
      <% @user.backlogs.each do |backlog| %>
        <p><%= link_to backlog.movie.title, movie_path(backlog.movie) %></p>
      <% end %>
    </div>

  </div>

  <div class="user-all-reviews">
    <h2><%= @user.user_name%>'s reviews</h2>
    <% @user.reviews.each do |review| %>

    <div class="user-review">
      <p><%= link_to review.movie.title, review.movie %></p>
      <p><%=review.title %></p>
      <p><%= review.body %></p>
      <p>Rating: <%= review.rating %></p>
    </div>
    <% end %>
  </div>

</div>
