<!DOCTYPE html>
<html>
  <head>
    <title>Paulscupcakes</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

      <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <div class="nav-wrapper">

          <ul>
            <li><%= link_to "JDMDb", root_path%></li>
          </ul>
          <ul>
            <% if !user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path%></li>
            <% else %>
            <li><%= link_to "My Profile", user_path(current_user)%></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete%>
            <% end %>
            </li>
          </ul>

          <ul>
            <li><%= render partial: 'search_form' %></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

    <footer class="page-footer">
          <div class="footer-copyright" style="background-color: #ee6e73">
            <div class="container">
            © 2017 pauls cupcakes
            <a class="grey-text text-lighten-4 right" href="http://www.imdb.com">IMDB</a>
            </div>
          </div>
        </footer>
  </body>
</html>
